{{ define "entnum" }}

{{ $pkg := base $.Config.Package }}
{{- with extend $ "Package" $pkg }}
        {{ template "header" . }}
{{- end }}

import (
    {{- range $ext := ( packagesFromFields .Nodes  ) }}
        "{{$ext}}"
    {{- end }}
)


{{- range $node := .Nodes }}
    {{- range $fields := $node.Fields }}
        {{if eq (isEnum $fields) true }}

        {{ $verb := "All" }}

        {{ if $n := $node.Config.Annotations.EntnumVerb }}
            {{ $verb = $n.Verb }}
        {{- end }}

        // {{$verb}}{{$node.Name}}{{$fields.StructField}} will return all of {{$node.Package}}'s {{$fields.Name}} values.
        func {{$verb}}{{$node.Name}}{{$fields.StructField}}() []{{$fields.Type}} {
            return []{{$fields.Type}} {
                {{- range $enum := $fields.Enums }}
                    {{$node.Package}}.{{$enum.Name}},
                {{- end }}
            }
        }
        {{- end }}
    {{- end }}
{{- end }}

{{- end}}